@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    line-height: 1.5;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

#hero-banner {
    background-image: url("/images/hero-banner.jpg");
    background-size: cover;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

#blog::-webkit-scrollbar-button {
    width: calc(25% - 40px);
}

#blog::-webkit-scrollbar-track {
    background: hsl(216, 38%, 95%);
    outline: 2px solid hsl(204, 91%, 53%);
    border-radius: 10px;
}

#blog::-webkit-scrollbar-thumb {
    background: hsl(204, 91%, 53%);
    border: 2px solid hsl(216, 38%, 95%);
    border-radius: 10px;
}
